In [1]:
dct_file='2002FemPreg.dct'

In [2]:
dat_file='2002FemPreg.dat.gz'

In [4]:
import thinkstats2
dct = thinkstats2.ReadStataDct(dct_file)
df = dct.ReadFixedWidth(dat_file, compression='gzip')

In [5]:
df.columns

Index([u'caseid', u'pregordr', u'howpreg_n', u'howpreg_p', u'moscurrp',
       u'nowprgdk', u'pregend1', u'pregend2', u'nbrnaliv', u'multbrth',
       ...
       u'poverty_i', u'laborfor_i', u'religion_i', u'metro_i', u'basewgt',
       u'adj_mod_basewgt', u'finalwgt', u'secu_p', u'sest', u'cmintvw'],
      dtype='object', length=243)

In [8]:
pregordr = df['pregordr']
pregordr

0        1
1        2
2        1
3        2
4        3
5        1
6        2
7        3
8        1
9        2
10       1
11       1
12       2
13       3
14       1
15       2
16       3
17       1
18       2
19       1
20       2
21       1
22       2
23       1
24       2
25       3
26       1
27       1
28       2
29       3
        ..
13563    2
13564    3
13565    1
13566    1
13567    1
13568    2
13569    1
13570    2
13571    3
13572    4
13573    1
13574    2
13575    1
13576    1
13577    2
13578    1
13579    2
13580    1
13581    2
13582    3
13583    1
13584    2
13585    1
13586    2
13587    3
13588    1
13589    2
13590    3
13591    4
13592    5
Name: pregordr, Length: 13593, dtype: int64

In [9]:
pregordr[0]

1

In [10]:
pregordr[2:5]

2    1
3    2
4    3
Name: pregordr, dtype: int64

In [11]:
import numpy as np

In [12]:
df['totalwgt_lb'] = df.birthwgt_lb + df.birthwgt_oz / 16.0

In [13]:
df.totalwgt_lb

0        8.8125
1        7.8750
2        9.1250
3        7.0000
4        6.1875
5        8.5625
6        9.5625
7        8.3750
8        7.5625
9        6.6250
10       7.8125
11       7.0000
12       4.0000
13          NaN
14          NaN
15       7.6875
16       7.5000
17       6.3125
18          NaN
19       8.7500
20       8.1875
21       5.5625
22          NaN
23       6.7500
24       7.3750
25       6.8125
26       8.1250
27       7.1250
28       6.0625
29       7.4375
          ...
13563    7.6875
13564    7.6250
13565    8.1250
13566    7.5000
13567       NaN
13568       NaN
13569    5.8125
13570    6.6875
13571    6.0000
13572    5.8125
13573    6.5625
13574    6.1250
13575       NaN
13576    6.4375
13577       NaN
13578    6.0000
13579    7.0000
13580       NaN
13581    6.3750
13582       NaN
13583       NaN
13584    6.3750
13585       NaN
13586       NaN
13587       NaN
13588    6.1875
13589       NaN
13590       NaN
13591    7.5000
13592    7.5000
Name: totalwgt_lb, Length: 13593, dtype: float64

In [14]:
df.outcome.value_counts().sort_index()

1    9148
2    1862
3     120
4    1921
5     190
6     352
Name: outcome, dtype: int64

In [15]:
df.birthwgt_lb.value_counts(sort=False)

8.0     1889
7.0     3049
6.0     2223
4.0      229
5.0      697
10.0     132
12.0      10
14.0       3
3.0       98
1.0       40
2.0       53
0.0        8
98.0       1
51.0       1
99.0      57
9.0      623
11.0      26
13.0       3
15.0       1
97.0       1
Name: birthwgt_lb, dtype: int64

In [17]:
df.caseid.iteritems()

In [18]:
caseid=10229

In [24]:
import nsfg
preg_map = nsfg.MakePregMap(df)

In [25]:
indices=preg_map[caseid]

In [26]:
df.outcome[indices].values

array([4, 4, 4, 4, 4, 4, 1])

In [27]:
indices

[11093, 11094, 11095, 11096, 11097, 11098, 11099]

In [28]:
df.outcome[indices]

11093    4
11094    4
11095    4
11096    4
11097    4
11098    4
11099    1
Name: outcome, dtype: int64